.vscode
.idea

.DS_Store
*.swp
*.lock

node_modules*/
npm-debug.log
package-lock.json
pnpm-lock.yaml

coverage/
run/
logs/

app/**/*.map
test/**/*.map
config/**/*.map
app/**/*.js
test/**/*.js
config/**/*.js
*.js

typings
